:root {
  --color1: #f2f2f2;
  --color2: #0065fc;
  --color3: #deebff;
  --color4: black;
  --color5: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "font";
  src: url(/assets/fonts/Raleway-Medium.ttf);
}

body {
  font-family: "font", sans-serif;
}

/* Header + Navigation */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  height: 50px;
  margin: 40px 60px;
}

nav ul {
  display: flex;
  list-style: none;
}

nav li a {
  padding: 53px 30px;
  margin-right: 10px;
}

a {
  text-decoration: none;
  color: var(--color4);
}

nav li a:hover {
  color: var(--color2);
  border-top: 2px solid var(--color2);
}

/* Search */
#search h1 {
  font-size: 1.4rem;
  margin-left: 40px;
  padding-bottom: 10px;
}

#search p {
  margin-left: 40px;
}

#search-bar {
  display: flex;
  margin-top: 30px;
  margin-left: 60px;
  align-items: center;
}

#search-icon {
  position: relative;
  padding: 15px;
  height: 55px;
  border-radius: 15px 0 0 15px;
  background: var(--color1);
  font-size: 20px;
  padding-right: 15px;
}

#search-bar input {
  height: 51px;
  width: 230px;
  font-size: 1.1rem;
  font-weight: bold;
  padding-left: 10px;
  border: none;
}

#search-bar button {
  position: relative;
  cursor: pointer;
  width: 130px;
  height: 55px;
  left: -5px;
  border: none;
  border-left: none;
  border-radius: 0 15px 15px 0;
  background: var(--color2);
}

#search-bar button span {
  color: var(--color5);
  font-size: 1.1rem;
}

#search-bar button i {
  display: none;
}

/* Filters */
#filters {
  display: flex;
  align-items: center;
  margin-top: 30px;
  font-size: 1.1rem;
  font-weight: 700;
  flex-wrap: wrap;
  margin-left: 40px;
}

#filters #filter {
  margin-right: 30px;
  margin-bottom: 10px;
}

#filters .filter-flex {
  display: flex;
  cursor: pointer;
  align-items: center;
  margin-right: 30px;
  border-radius: 30px;
  border: 2px solid var(--color1);
  margin-bottom: 10px;
}

#filters .filter-flex:hover {
  border: 2px solid var(--color2);
}

#filters .filter-flex i {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color2);
  background-color: var(--color3);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

#filters .filter-flex p {
  padding: 0 10px;
}

#filter-info {
  display: flex;
  align-items: center;
  margin-left: 40px;
}

#filter-info i {
  margin-right: 10px;
  font-size: 16px;
  color: var(--color2);
  border-radius: 50%;
  height: 25px;
  width: 25px;
  border: 2px solid var(--color1);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Version Mobile */
@media screen and (max-width: 600px) {
  /* Header */
  nav {
    flex-direction: column;
  }

  #logo {
    margin: 30px;
  }

  nav li a {
    padding: 10px 30px;
    align-items: center;
  }

  nav li a:hover {
    border-top: none;
    border-bottom: 2px solid var(--color2);
  }

  /* Search */
  #search h1 {
    padding-top: 40px;
    margin-left: 20px;
  }

  #search p {
    margin-left: 20px;
  }

  #search-bar {
    margin-left: 20px;
  }

  #search-bar button {
    width: 50px;
    height: 55px;
    left: -20px;
    border-radius: 15px;
  }

  #search-bar button span {
    display: none;
  }

  #search-bar button i {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color5);
  }
}
